# Dataframe

[reference1](https://blog.serverworks.co.jp/introducing-pyspark-5)

[reference2](https://blog.serverworks.co.jp/introducing-pyspark-6)

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("example").config("spark.some.config.option", "some-value").getOrCreate()

In [3]:
df = spark.read.load("data/people.csv", format='csv', sep=',', inferScheme='true', header='true')

In [4]:
df.createOrReplaceTempView("people")

In [5]:
sqlDF = spark.sql("SELECT * FROM people")

In [7]:
sqlDF.show()

+------+---+
|  name|age|
+------+---+
|  Mike| 10|
|  Andy| 20|
|Justin| 30|
+------+---+

In [10]:
df.createOrReplaceTempView("people")

In [22]:
query = """
SELECT * FROM people WHERE age > 20
"""

In [23]:
sqlDF = spark.sql(query)

In [24]:
sqlDF.show()

+------+---+
|  name|age|
+------+---+
|Justin| 30|
+------+---+

In [15]:
df.select("name").show()

+------+
|  name|
+------+
|  Mike|
|  Andy|
|Justin|
+------+

In [17]:
df.filter(df['age'] > 20).show()

+------+---+
|  name|age|
+------+---+
|Justin| 30|
+------+---+

In [18]:
df.groupBy("age").count().show()

+---+-----+
|age|count|
+---+-----+
| 30|    1|
| 20|    1|
| 10|    1|
+---+-----+